{% extends 'firstapp/header.html' %}

{% block footer %}
    <footer class="bg-dark text-light">
        <div class="container py-4">
          <div class="row">
            <div class="col-md-6">
              <p>&copy; 2023 Your Company Name. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
              <p>
                <i class="fas fa-map-marker-alt me-2"></i> 123 Main Street, City, State, ZIP Code
              </p>
              <p>
                <i class="fas fa-phone-alt me-2"></i> (123) 456-7890
              </p>
              <p>
                <i class="fas fa-envelope me-2"></i> info@yourcompany.com
              </p>
            </div>
          </div>
        </div>
      </footer>

{% endblock footer %}   
      
